<div class="row">
  <div class="col-md-6">
    <app-card title="Your Health Status">
      <app-status></app-status>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card title="Weight Trends by Day">
      <app-chart></app-chart>
    </app-card>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <app-card title="Set Your Goal Weight"
      ><app-goal-entry></app-goal-entry
    ></app-card>
  </div>
  <div class="col-md-6">
    <app-card title="Update Your Weight"><app-entry></app-entry></app-card>
  </div>
</div>
